body{
    font-family: 'Montserrat', sans-serif;
}
.opacidad-50{
    opacity: 0.5;
}
.opacidad-off{
    opacity: 0;
}
.img-logo{
    width: 25rem;

}
.textpJustificado{
    text-align: justify;
}
.paddingContainer{
    padding: 5em;
}
.paddingContainerAll{
    padding: 6rem;
}
.marginVertical{
    margin: 5rem auto;
}
.marginHome{
    margin: 3rem auto;
}
.footer{
    margin-top: 3rem;
    padding: 6rem;
    
}
.marginCards{
    margin:5rem auto;
}
#imgFondo{
    background-image: url("../img/geometri.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5rem auto;
    padding: 7rem  ;
}
#ejemplo1{
    background: url("../img/img_ejemplos/pizza-3007395_1280.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1.5rem 0rem;
    padding: 9rem 1rem;
}
#ejemplo2{
    background: url("../img/img_ejemplos/laptop-614213_1280.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1.5rem 0rem;
    padding: 9rem 1rem;
}
@media screen and (max-width: 720px) {
    #imgFondo{
        background-image: url("");
        margin: 0;
        padding: 0;
    }
    .paddingContainerAll{
        padding: 1rem;
    }
    #ejemplo1{
        background: url("../img/img_ejemplos/pizza-3007395_1280.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
